@import '../../scss/vars.scss';

.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $background-color3;
    padding: 20px 60px;

    &Text{
        color: $background-color2;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    &Link{
        font-weight: 700;
        transition: color 0.25s ease;

        &:hover{
            color: $accent1;
        }
    }
}
