$background-color1: #FFFFFF;
$background-color2: #F8F8F8;
$background-color3: #282828;
$background-color4: #FFF8BD;

$font-color1: #323232;
$font-color2: #666666;
$placeholder: #888888;

$accent1: #EB3C93;

$border1: #CCCCCC;
$border2: #65B0EE;

$red: #C40B0B;
$orange: #F07400;
$green: #1eb918;
$blue: #3CC2EB;

$disabled: #AAAAAA;

$error: #E7052B;
$errorBackground: #DBB6B4;
$ok: #00CA32;
$okBackground: #C7E6CC;

$modalBackdrop: rgba(54, 54, 54, 0.7);
